*{
	margin: 0;
	padding: 0;
}

nav{
  position: fixed;
  width:100%;
  height:3.5rem;
  margin:0 auto;
  z-index:3;
  background:#fff;
  bottom:0;
  border-top:1px solid #e5e5e5;
	font-size: 1rem;
}
nav ul{
  list-style: none;
}
nav a{
  float: left;
  width:25%;
  height:100%;
  text-decoration: none;
}
nav span{
  text-align: center;
  display: block;
  font-size: 0.9rem;
  color:#999;
}
nav li:nth-child(1) i{background:url(../img/indexwhite.png) no-repeat;  background-size:100% 100%;}
nav li:nth-child(2) i{background:url(../img/classifywhite.png) no-repeat;  background-size:100% 100%;}
nav li:nth-child(3) i{background:url(../img/carwhite.png) no-repeat;  background-size:100% 100%;}
nav li:nth-child(4) i{background:url(../img/minepink.png) no-repeat;  background-size:100% 100%;}
nav i{
  display: block;
  width:1.4rem;
  height:1.4rem;
  margin: .5rem auto;
  margin-top: 0.4rem;

}
.top{
	width: 100%;
	height: 4rem;
	position: fixed;
	top: 0;
	background: white;
	z-index: 99;
}
.top>a{
	display: block;
	font-size: 1.65rem;
	line-height: 4rem;
	text-align: center;
}
.top>span{
	position: absolute;
	width: 2rem;
	height: 2rem;
	display: block;
}
.top>span:first-child{
	top: 50%;
	left: 1rem;
	margin-top: -1rem;
}
.top>span:last-child{
	width:1.5rem;
	height:1.5rem;
	top: 50%;
	right: 1rem;
	margin-top: -1rem;
}
.top>span:last-child img{
	width:100%;
}
.user{
	margin-top: 4rem;
	width: 100%;
	height: 7rem;
	background: white;
	border-top: 3px solid #eee;
  position: relative;
}
.user>.user-photo{
	position: absolute;
	width: 4rem;
	height: 4rem;
	background: url(../images/u=183068371,2480109375&fm=27&gp=0.jpg)no-repeat;
	top: 21%;
	left: 1rem;
	background-size: cover;
	border-radius: 50%;
	border: 1px solid #9c9c9c;
}
.user>div:nth-child(2){
  position: absolute;
  left: 5rem;
  top: 21%;
}
.user>div:nth-child(2)>a{
	display: inline-block;
  padding:0 1rem;
	font-size: 1rem;
  text-decoration: none;
  color: #000;
}
.user>div:nth-child(2)>span.sp1{
	display: inline-block;
	font-size: 0.8rem;
	text-align: center;
	padding: 2px 4px;
	color: white;
	background: #6c6c6c;
	border-radius: 10px;
}
.user>div:nth-child(2)>span.sp2{
  font-size: 0.8rem;
	color: #5c5c5c;
  display: block;
  padding:1rem;
}
.user>div:nth-child(3){
  position: absolute;
  right: 0;
  top: 21%;
	font-size: 0.8rem;
  padding:0 5px;
	color: #5c5c5c;
	border-left: 2px solid #9c9c9c;
	border-top: 2px solid #9c9c9c;
	border-bottom: 2px solid #9c9c9c;
	border-radius: 10px 0 0 10px;
}
.user>div:nth-child(3)>span:first-child{
	float: left;
	margin-top:0.4rem;
	margin-right:0.4rem;
	width: 1.3em;
	height: 1.3rem;
}
.user>div:nth-child(3)>span:first-child img{
	width:100%;
}
.user>div:nth-child(3)>span:last-child{
	float: right;
  line-height: 2rem;
}
.orderlist{
	width: 100%;
	height: 6rem;
	border-top: 3px solid #eee;
}
.orderlist>ul{
	position: absolute;
	margin-top: .5rem;
	width: 100%;
	list-style: none;
	display: flex;
}
.orderlist>ul>li{
	width: 4rem;
	height: 4rem;
	flex: 1;
	padding: 5px;
	text-align: center;
	font-size: 1rem;
}
.orderlist>ul>li span{
	width: 2rem;
	height: 2rem;
	display: block;
	margin: 0.3rem auto;
}
.orderlist>ul>li:nth-child(1)>a>span{
	background: url(../images/QQ图片20171011194343_12.gif)no-repeat;
	background-size: 100%;
}
.orderlist>ul>li:nth-child(2)>a>span{
	background: url(../images/QQ图片20171011194343_03.gif)no-repeat;
	background-size: 100%;
}
.orderlist>ul>li:nth-child(3)>a>span{
	background: url(../images/QQ图片20171011194343_05.gif)no-repeat;
	background-size: 100%;
}
.orderlist>ul>li:nth-child(4)>a>span{
	background: url(../images/QQ图片20171011194343_07.gif)no-repeat;
	background-size: 100%;
}
.orderlist>ul>li:nth-child(5)>a>span{
	background: url(../images/QQ图片20171011194343_09.gif)no-repeat;
	background-size: 100%;
}
.selflist{
	width: 100%;
	height: 14rem;
	border-top: 3px solid #eee;
}
.selflist>ul{
	position: absolute;
	width: 100%;
	list-style: none;
}
.selflist>ul>li{
	float: left;
	width: 25%;
	height: 6rem;
	margin-top: 9px;
	padding: 10px;
	box-sizing: border-box;
}
.selflist>ul>li a{
	display: block;
	width: 100%;
	height: 100%;
}
.selflist>ul>li:nth-child(1) a{
	background: url(../images/QQ图片20171011194343_20.gif);
	background-size: 100% 100%;
}
.selflist>ul>li:nth-child(2) a{
	background: url(../images/QQ图片20171011194343_22.gif);
	background-size: 100% 100%;
}
.selflist>ul>li:nth-child(3) a{
	background: url(../images/QQ图片20171011194343_24.gif);
	background-size: 100% 100%;
}
.selflist>ul>li:nth-child(4) a{
	background: url(../images/QQ图片20171011194343_26.gif);
	background-size: 100% 100%;
}
.selflist>ul>li:nth-child(5) a{
	background: url(../images/QQ图片20171011194343_32.gif);
	background-size: 100% 100%;
}
.selflist>ul>li:nth-child(6) a{
	background: url(../images/QQ图片20171011194343_34.gif);
	background-size: 100% 100%;
}
.selflist>ul>li:nth-child(7) a{
	background: url(../images/QQ图片20171011194343_35.gif);
	background-size: 100% 100%;
}
.selflist>ul>li:nth-child(8) a{
	background: url(../images/QQ图片20171011194343_36.gif);
	background-size: 100% 100%;
}
.become{
	width: 100%;
	height: 6rem;
	font-size:1.2rem;
	border-top: 3px solid #eee;
}
.become>.share{
	position: relative;
	width: 100%;
	height: 3rem;
	top: 50%;
	margin-top: -1.5rem;
}
.sharebox img{
	width:100%;
}
.become p{
	line-height: 3rem;
	float: left;
}
.sharebox{
	margin: 1rem 0.5rem 0 1rem;
	float: left;
	display: block;
	width: 1rem;
	height: 1rem;
}
.share-img{
	display: block;
	float:right;
	width:1.5rem;
	height:1.5rem;
	margin:0.8rem 0.8rem 0 0;
}
.share-img img{
	width:100%;
}
